.header {
  background-color: #292929;
  height: 80px;
  color: #ffffff;
  font-size: 16px;

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
  }

  .logo {
    align-self: center;
  }

  .navigation .item {
    height: 100%;
    margin-right: 70px;
    display: flex;
    align-items: center;

    &:last-of-type {
      margin-right: 0;
    }

    &.active:after,
    &:hover:after {
      content: "";
      width: 100%;
      height: 7px;
      display: block;
      position: absolute;
      bottom: 0;
      background-color: #ffda1a;
    }
  }
}
