.principles {
  margin-top: 160px;
  position: relative;

  .title {
    text-align: center;
  }

  .background-color {
    position: absolute;
    background-color: #292929;
    height: 300px;
    top: 200px;
    left: 0;
    right: 0;

    &:before {
      content: "";
      display: block;
      width: 90px;
      height: 90px;
      position: absolute;
      top: -45px;
      left: 0;
      right: 0;
      margin: 0 auto;
      border-radius: 50%;
      background-color: #fff;
    }
  }

  .items {
    justify-content: space-between;
    margin-top: 360px;
  }

  .item {
    width: 315px;
    height: 300px;
    padding: 30px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 12px 18px rgba(0, 0, 0, 0.2);

    .background-image {
      margin-bottom: 15px;
    }
  }
}
