.services {
  margin-top: 175px;
  position: relative;
  font-size: 20px;

  .title {
    text-align: center;
  }

  .background-color {
    position: absolute;
    background-color: #ffda1a;
    height: 840px;
    width: 1350px;
    top: 170px;
    left: 0;
    right: 0;
    margin: 0 auto;

    &:after {
      content: "";
      display: block;
      width: 90px;
      height: 90px;
      position: absolute;
      bottom: -45px;
      left: 0;
      right: 0;
      margin: 0 auto;
      border-radius: 50%;
      background-color: #fff;
    }
  }

  .items {
    justify-content: space-between;
    margin-top: 320px;
  }

  .item {
    width: 345px;
    height: 500px;
    padding: 50px 30px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 12px 18px rgba(0, 0, 0, 0.2);

    .background-image {
      margin-bottom: 80px;
    }
  }
}
