* {
  box-sizing: border-box;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.main-container {
  background: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 30px;
  min-width: 1200px;
  max-width: 1500px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.yellow {
  color: #ffda1a;
}

.title {
  font-size: 36px;
}
