.overview {
  h1 {
    font-size: 64px;
    margin-top: 100px;
  }

  h2 {
    font-size: 32px;
    margin-top: 30px;
    margin-bottom: 80px;
  }

  .background-image {
    margin-top: 30px;
  }

  .description {
    padding-right: 40px;

    > img {
      margin-top: 130px;
    }
  }
}
